[Desktop Entry]
Type=Application
Name=Archmain
Icon=/home/jonathan/.config/archmain/icons/app-icon.png
Exec=python3 /home/jonathan/.config/archmain/archmain.py
Comment=Arch System Management
Terminal=false
Categories=Utility;

