[Desktop Entry]
Type=Application
Exec=/home/jonathan/.config/archmain/checkupdates
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=checkupdates.desktop
